In [3]:
import pandas as pd

In [36]:
#dates = pd.read_excel('bpdb_selected.xlsx', sheet_name='dates', parse_dates=True).dropna()
dates = pd.read_csv('bpdb_dates.csv', index_col=0)
dates['start'] = pd.to_datetime(dates.start).astype('int64')

In [39]:
dates.head(2)

                           plant                start
0  Shikalbaha 150 MW Power Plant  1282089600000000000
1      Siddhirganj 2x120 MW GTPP  1287014400000000000

In [40]:
rdf = pd.read_csv('handmade22.csv', index_col=0)
rdf.columns

Index(['own', 'plant_name_x', 'fuel_type', 'capacity_mw', 'net_generation_gwh',
       'usage', 'costs_name', '2021_units', '2021_amount',
       '2021_cost_per_unit', '2022_units', '2022_amount',
       '2022_cost_per_unit'],
      dtype='object')

In [76]:
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

# Let's create a dictionary where the keys are the plant names from the plants_df and the values are the plant names from the costs_df that have the highest match score.
def match_columns(ser1, ser2, threshold):
    """
    Finds ser2 matches for unique items in ser1
    1:1 matching
    """
    match_dict = {}
    for og_txt in list(ser1.unique()):
        matches = process.extract(og_txt, ser2.unique(), limit=1, scorer=fuzz.token_sort_ratio)
        if matches[0][1] >= threshold:
            match_dict[og_txt] = matches[0][0]
    return match_dict

def multi_match_columns(ser1, ser2, threshold):
    """
    Finds ser2 matches for each list of items in ser1
    """
    match_dict = {}
    for i, og_txt_list in ser1.items():
        for og_txt in og_txt_list:
            matches = process.extract(og_txt, ser2.unique(), limit=1, scorer=fuzz.token_sort_ratio)
            if matches[0][1] >= threshold:
                match_dict[i] = matches[0][0]
                break
    return match_dict
    


def check_new_matches(ser1, ser2, threshold_old, threshold_new):
    old = match_columns(ser1, ser2, threshold_old)
    new = match_columns(ser1, ser2, threshold_new)
    print(len(old.keys()))
    diff_keys = [k for k in new.keys() if k not in old.keys()]
    return {k:new[k] for k in diff_keys}

In [43]:
check_new_matches(rdf.costs_name, dates.plant, 75, 70)

12

{'Power Pac Motiara - Jamalpur': 'Jamalpur 115 MW Power Plant',
 'Faridpur Peacking Power Plant': 'Faridpur 50 MW Peaking PP',
 'SHAHJIBAZAR POWER CO. LTD.': 'Shahjibazar CCPP',
 'Bera Peacking Power Plant': 'Keraniganj Power Plant',
 'Fenchuganj 2x 90 MW CCPP (1st & 2nd Unit)': 'Fenchuganj 90 MW CCPP',
 'Dohazari Peacking Power Plant': 'Katakhali 50 MW Peaking Power Plant',
 'Hathazari Peacking Power Plant': 'Katakhali 50 MW Peaking Power Plant'}

In [72]:
combo = {}
for i in rdf.iterrows():
    n1 = i[1]['costs_name']
    n2 = i[1]['plant_name_x']
    combo[i[0]] = [n1, n2]
rdf["namelist"] = pd.Series(combo)

In [84]:
pd.concat([rdf[["namelist"]], dates[['plant']]]).to_csv('gpt_match_test.csv')

In [79]:
dates

                                   plant                start
0          Shikalbaha 150 MW Power Plant  1282089600000000000
1              Siddhirganj 2x120 MW GTPP  1287014400000000000
4            Ashuganj Rental Power Plant  1270598400000000000
5    Shikalbaha 55 MW Rental Power Plant  1273104000000000000
6          Thakurgaon, 3 Years Rental PP  1280707200000000000
..                                   ...                  ...
223       Mirsorai, Chittagong 150 MW PP  1643673600000000000
224      Ghorasal 3rd Unit Repowering ST  1646092800000000000
225         Ghorasal 4th Unit Repowering  1654041600000000000
226             Khulna 330 MW CCPP (D/F)  1654041600000000000
227          Sreepur 150 MW  Power Plant  1669852800000000000

[146 rows x 2 columns]